<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./default.css">
    <link rel="stylesheet" href="./ui-login.css">
    <script src="./script.js" defer></script>
</head>

<body>
<h1>AJAX GET TEST</h1>
Name: <input type="text" id="inputName" />
<button id="ajaxCall">호출</button>

<h2><span id="name"></span>의 나이는 <span id="age"></span>입니다.</h2>
</body>

</html>