<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href ="https://kauth.kakao.com/oauth/authorize?client_id=adb755f1f1d479bf65f4eaadf6ec483b&redirect_uri=http://localhost:8080/api/auth/kakao/callback&response_type=code"><img height="38px" src="/images/kakao_login_medium_narrow.png"/></a>
    <a href ="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=UCJ4dA_B8TDcKXUT3FJv&state=test&redirect_uri=http://localhost:8080/api/auth/naver/callback"> 네이버 로그인</a>
</body>
</html>